@charset "utf-8";
@import "_mixin.scss";

$commonColor:#f50;
$commonColor_1:#f40;

/* 公共类 */
.cartCenter{
    width: 1190px;
    margin: 0 auto;
    position: relative;
    @include clearfix;
}
.clearFix{
    @include clearfix;
}
a{
    color: #6c6c6c;
    display: inline-block;
}
@include intoLeft;
@include intoRight;

/* 头部搜索 */
.nav{
    padding: 20px 0;
    h1{
        float: left;
        a{
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
        }
        span{
            display: inline-block;
            vertical-align: middle;
            font-size: 20px;
            line-height: 44px;
            color: rgb(58, 58, 58);
        }
    }
    .searchBar{
        position: relative;
        float: right;
        .searchContent{
            position: relative;
            margin-right: 60px;
            border:2px solid #ff5000;
            height: 32px;
            width: 360px;
            .chooseKind{
                position: absolute;
                height: 100%;
                li{
                    height: 32px;
                    width: 74px;
                    line-height: 32px;
                    text-align: left;
                    background: #f4f4f4;
                    display: none;
                    a{
                        // float: left;
                        display: inline-block;
                        color:#3C3C3C;
                        margin-left: 20px;
                        @include clearfix;
                        span{
                            font-size: 12px;
                            display: block;
                            float: left;
                        }
                        .limit{
                            height: 6px;
                            margin-top: 17px;
                            overflow: hidden;
                        }
                        .site-nav-icon{
                            color: rgb(156,156,156);
                            margin-left: 5px;
                            margin-top: -19px;
                        }
                    }
                }
                li.country_father{
                    display: block;
                }
                ul:hover{
                    li{
                        display: block;
                    }
                    li.country_father{
                        border-top-left-radius: 20px;
                        border-bottom-left-radius: 0;
                        display: block;
                    }
                }
            }
            input{
                border: none;
                height: 32px;
                width: 80%;
                padding-left: 16px;
            }
            .jingZi{
                position: absolute;
                left: 74px;
                top: 12px;
                font-size: 15px;
            }
            .photo{
                position: absolute;
                right: 15px;
                top: 7px;
                font-size: 24px;
                color:#999;
            }
        }
        .search_submit{
            position: absolute;
            width: 74px;
            height: 36px;
            background: #FF4200;
            font-size: 20px;
            color: #fff;
            border: none;
            right: 0;
            top: 0;
        }
    }
}

/* 购物车内容 */
.cart_content{
    /* 共用：总价显示区域 */
    .cart_sum{
        position: absolute;
        top: 20px;
        right: 5px;
        .total_price{
            color: #f40;
            margin: 0 5px;
            font-size: 14px;
        }
        .calcu_sum{
            width: 55px;
            line-height: 25px;
            text-align: center;
            background: #aaa;
            color: #fff;
            cursor: pointer;
            border-radius: 3px;
        }
    }
    /* 头部导航 */
    .tags{
        position: relative;
        .head_tag{
            border-bottom: 2px solid #e6e6e6;
        }
        li{
            float: left;
            padding:20px 0;
            a{
                display: inline-block;
                padding:0 30px;
                border-right: 1px solid #e8e8e8;
                font-size:16px;
                font-weight: 600;
            }
        }
        li.current{
            margin-bottom: -2px;
            border-bottom: 2px solid #f40;
            .all_num{
                color: $commonColor;
                
            }
        }
        
    }

    /* 逐行内容 */
    .cart_line{
        position: relative;
        background: #fcfcfc;
        border: 1px solid #ccc;
    }
    .checkWeather{
        display: inline-block;
        vertical-align: top;
    }
    .cart_items{   
        .cart_item{
            position: relative;
            float: left;
            width: 160px;
            padding: 20px;
            box-sizing: border-box;
            display: inline-block;
        }
        .more_item{
            width: 320px;
        }
        p{
            margin-top: 35px;
            
        }
        .delete_price{
            display: inline-block;
            margin: 10px 0;
            color: #9c9c9c;
            text-decoration: line-through;
        }
        em{
            font-style: normal;
            font-weight: 700;
            display: inline-block;
        }
        .tb-reduce,.tb-increase{
            display: inline-block;
            width: 15px;
            height: 15px;
            line-height: 15px;
            text-align: center;
            border: 1px solid #ccc;
            background: #ededed; 
        }
        .range_num{
            width: 48px;
            height: 15px;
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            text-align: center;
            font-size: 14px;
            color: #000;
        }
        .itemNum{
            color: #f40;
            font-size: 14px;
            font-weight: 600;
        }

        .delete_item,.get_similar{
            display: block;
            margin: 10px 0;
        }
        

    }
    /* 底部结算 */
    .footer{
        background: #e5e5e5;
        position: relative;
        margin: 20px 0;
        .select_num{
            font-weight: 600;
            font-size: 14px;
            color: #f40;
            margin: 0 10px;
        }
    }
}

/* 空车内容 */
.empty_content{
    display: none;
    .empty_title{
        text-align: right;
        
    }
    a{
        color: #36C;        
    }
    .bk_right{
        background: url(https://assets.alicdn.com/sys/common/img/crumb_bg.gif) no-repeat 100% 50%;
        padding-right: 10px;
    }
    .empty{
        padding: 88px 0 100px 156px;
        background: url(//gtd.alicdn.com/tps/i3/T1TvXUXnNjXXXXXXXX-100-100.png) no-repeat 40px 86px;
        position: relative;
        h3{
            margin: 10px 0;
        }
        a{
            display: inline-block;
            margin: 5px 0;
        }
    }
}
/* 弹窗内容，相对于浏览器窗口 */
.confirmTab,.pleaseChoose{
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0,0,0,0.6);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: none;
    .confirm{
        position: absolute;
        margin: auto;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 380px;
        height: 150px;
        padding: 20px 20px 20px 35px;
        border-radius: 5px;
        box-sizing: border-box;
        background: #fff;
        border: 1px solid #aeaeae;
        h3{
            font-size: 14px;
            display: inline-block;
            height: 35px;
            line-height: 35px;
        }
        /* 右侧关闭按钮 */
        >a{
            display: inline-block;
            position: absolute;
            width: 15px;
            height: 15px;
            background: url(https://gw.alicdn.com/tfs/TB1boCXfmCWBuNjy0FhXXb6EVXa-800-600.png) no-repeat;
            background-position:-60px -20px;
            right: 23px;
            top:23px;
            font-size: 14px;
            color: #3c3c3c;
        }
        span{
            display: inline-block;
            font-weight: 700;
            line-height: 28px;
            height: 28px;
            width: 58px;
            border: 1px solid #aeaeae;
            border-radius: 5px;
            text-align: center;
            margin-right: 10px;
            cursor: pointer;
        }
        em{
            display: inline-block;
            width: 35px;
            height: 35px;
            background: url(https://gw.alicdn.com/tfs/TB1boCXfmCWBuNjy0FhXXb6EVXa-800-600.png) no-repeat;
            background-position: -110px -45px;
        }
        .sure{
            background: #52a0e5;
            color: #fff;
        }
        .close{
            background: #fff;
            color: #000;
        }
    }
    p{
        margin: 15px 0;
    }
    
}


