@charset "UTF-8";
/* 封装清除浮动 */
/* 封装省略号 */
/* title_h3 封装 h3 及内部的通用样式，（h3 的颜色，头部的渐变色起始颜色，终止颜色） */
/* 封装公共类 */
.clearFix::after {
  display: block;
  clear: both;
  content: "";
}

.commonColor {
  color: #f50 !important;
}

.detailCenter {
  width: 1140px;
  margin: 0 auto;
}
.detailCenter::after {
  display: block;
  clear: both;
  content: "";
}

.navCenter {
  width: 950px;
  margin: 0 auto;
}
.navCenter::after {
  display: block;
  clear: both;
  content: "";
}

.tb-icon {
  margin-right: 5px;
  width: 16px;
  height: 16px;
  background: url(../img/jingZi_sprite.png) no-repeat;
}

/* 顶部导航：公共样式和类 */
/* 封装清除浮动 */
/* 封装省略号 */
/* title_h3 封装 h3 及内部的通用样式，（h3 的颜色，头部的渐变色起始颜色，终止颜色） */
/* 封装公共类 */
/* 公共类 */
.intoCenter {
  width: 1190px;
  margin: 0 auto;
}
.intoCenter::after {
  display: block;
  clear: both;
  content: "";
}

.intoLeft {
  float: left;
}

.intoRight {
  float: right;
}

/* 主体内容 */
.top {
  height: 35px;
  background: whitesmoke;
}
.top .orange {
  color: #f22e00;
}
.top .top_main {
  height: 100%;
  line-height: 100%;
}
.top .top_main::after {
  display: block;
  clear: both;
  content: "";
}
.top .top_left li, .top .top_right li {
  float: left;
  height: 35px;
  line-height: 35px;
  position: relative;
  padding: 0 10px;
}
.top .top_left li a, .top .top_right li a {
  display: inline-block;
  color: #3c3c3c;
}
.top .top_left li a::after, .top .top_right li a::after {
  display: block;
  clear: both;
  content: "";
}
.top .top_left li a.orange_less:hover, .top .top_right li a.orange_less:hover {
  color: #F40;
}
.top .top_left li a.country span, .top .top_right li a.country span {
  font-size: 12px;
  display: block;
  float: left;
}
.top .top_left .limit, .top .top_right .limit {
  height: 6px;
  margin-top: 15px;
  overflow: hidden;
}
.top .top_left .site-nav-icon, .top .top_right .site-nav-icon {
  color: #9c9c9c;
  margin-left: 5px;
  margin-top: -17px;
}
.top .top_left {
  float: left;
}
.top .top_left .moreCountry {
  display: none;
  background: #fff;
  position: absolute;
  margin-left: -14px;
  margin-top: -7px;
  border: 1px solid whitesmoke;
  border-top: none;
}
.top .top_left .moreCountry li {
  width: 240px;
}
.top .top_left li.country_father:hover {
  background: #fff;
}
.top .top_left li.country_father:hover .moreCountry {
  display: block;
}
.top .top_right {
  float: right;
}
.top .top_right .limit_right span {
  color: #f40;
  margin-right: 5px;
  margin-top: 0px;
}
.top .top_right .gray span {
  color: #9c9c9c;
}

/* 头部店铺描述 */
.header {
  padding: 13px 0;
  /* 店铺名称描述 */
  /* 店铺评级 */
  /* 店铺内部搜索 */
}
.header .shop {
  height: 45px;
  margin-left: 15px;
}
.header .shop_name, .header .shop_level {
  border-left: 1px solid #f1f1f1;
  padding: 5px 10px;
  box-sizing: border-box;
  /* display: inline-block; */
  height: 100%;
}
.header .shop_name_logo {
  line-height: 10px;
}
.header .shop_name_logo a {
  font-weight: 500;
}
.header .shop_name_logo .shop_logo {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../img/shop_sprite.png) no-repeat;
  background-position: -259px 0;
}
.header .shop_name_logo .shop_ww {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(https://img.alicdn.com/tps/i1/T15AD7FFFaXXbJnvQ_-130-60.gif) no-repeat;
  background-position: -80px 0;
}
.header .level_items p {
  margin-bottom: 5px;
  margin-right: 10px;
}
.header .level_items i {
  display: inline-block;
  width: 9px;
  height: 14px;
  background: url(https://gtms02.alicdn.com/tps/i2/TB10c0GIXXXXXX0XVXXGEZzGpXX-40-40.png) no-repeat;
  background-position: -6px -3px;
}
.header .searchGoods {
  /* 头部搜索框 */
  /* 底部搜索 */
}
.header .searchGoods .search_for {
  background: #f40;
  height: 30px;
  display: inline-block;
}
.header .searchGoods .search_for input {
  display: inline-block;
  width: 280px;
  border: none;
  background: #fff;
  height: 26px;
  float: left;
  margin: 2px;
}
.header .searchGoods .search_for button {
  color: #fff;
  display: inline-block;
  background: none;
  border: none;
  height: 100%;
  cursor: pointer;
}
.header .searchGoods .search_for_2 {
  display: inline-block;
  border: 1px solid #f40;
}
.header .searchGoods .search_for_2 button {
  height: 28px;
  color: #f40;
  display: inline-block;
  border: none;
  cursor: pointer;
  background: #ffd9b3;
}
.header .searchGoods .search_bt {
  text-align: right;
  height: 16px;
  line-height: 16px;
  padding: 6px 0;
}
.header .searchGoods .search_bt a {
  margin-right: 15px;
}
.header .searchGoods .search_bt .search_qrcode {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../img/shop_sprite.png) no-repeat;
  background-position: -792px -86px;
}
.header .searchGoods .search_bt em {
  font-style: normal;
  font-size: 16px;
}
.header .searchGoods .search_bt i {
  display: inline-block;
  margin-bottom: -3px;
}

/* 头部导航 */
.nav {
  border-top: 1px dashed #000;
  height: 150px;
  background: url(https://gdp.alicdn.com/tps/i4/T1BOyfFoxfXXcqrM2Y-44-150.png) repeat-x;
}
.nav h1 {
  font-size: 24px;
  line-height: 120px;
}
.nav .divice {
  height: 30px;
  line-height: 30px;
}
.nav .divice li {
  float: left;
  border-right: 1px solid #3871B7;
  padding: 0 10px;
}
.nav .divice a {
  color: #C2D5ED;
}
.nav .divice .tag {
  width: 9px;
  height: 8px;
  background: url(../img/details_sprite.gif) no-repeat;
  background-position: 0 -50px;
  display: inline-block;
}

/* 主体内容 */
.section {
  padding: 10px 0;
}
.section .section_1, .section .section_2 {
  border: 1px solid #E8E8E8;
}
.section .section_1_left {
  /* 整体样式 */
  border-right: none;
  padding: 20px 0 20px 20px;
  /* 放大镜效果样式 */
}
.section .section_1_left li {
  float: left;
  margin-right: 25px;
}
.section .section_1_left a {
  display: inline-block;
  color: #6C6C6C;
}
.section .section_1_left span {
  display: inline-block;
  vertical-align: middle;
}
.section .section_1_left .nowImg {
  display: inline-block;
  position: relative;
}
.section .section_1_left .now_small, .section .section_1_left .now_big {
  width: 400px;
  height: 400px;
  text-align: center;
  cursor: pointer;
}
.section .section_1_left .now_big {
  display: none;
}
.section .section_1_left .chooseImg {
  margin: 20px 0;
}
.section .section_1_left .chooseImg a {
  border: 2px solid #fff;
  font-size: 0;
}
.section .section_1_left .chooseImg a:hover {
  border-color: #f40;
}
.section .section_1_right {
  padding: 0 20px 20px 0;
  width: 498px;
  /* 公共信息 */
  /* 顶部价格信息 */
  /* 第一行评论 */
  /* 第二行 淘宝价 */
  /* 第三行 优惠 */
  /* 中间货物/ 配送信息 */
  /* 两个购买按钮 */
}
.section .section_1_right h3 {
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
  padding: 20px 0 10px;
  color: #3C3C3C;
}
.section .section_1_right span.title {
  width: 60px;
}
.section .section_1_right ul.price_all {
  padding: 15px 10px;
  margin-bottom: 10px;
  background-color: #FFF2E8;
}
.section .section_1_right ul.price_all span {
  display: inline-block;
}
.section .section_1_right ul.price_all li {
  line-height: 24px;
  text-align: left;
  position: relative;
  margin-bottom: 5px;
}
.section .section_1_right .price_delete {
  text-decoration: line-through;
}
.section .section_1_right .comment_position {
  position: absolute;
  top: 0;
  right: -15px;
}
.section .section_1_right .comment_position a {
  display: inline-block;
  padding: 0 10px;
  text-align: center;
}
.section .section_1_right .comment_position a strong {
  display: block;
}
.section .section_1_right .comment_position .comment {
  border-right: 1px solid #ffe4d0;
}
.section .section_1_right .tb_price {
  font-size: 26px;
  color: #F40;
  margin-right: 10px;
}
.section .section_1_right .crazy_cell {
  background: #FF8E1B;
  color: #fff;
  padding: 0 5px;
}
.section .section_1_right .tb-icon-coin {
  background: url();
}
.section .section_1_right .getRight {
  margin-left: 5px;
  border-bottom: 1px dotted #f40;
  color: #f40;
}
.section .section_1_right .goodMessage {
  /* 中间虚线 */
  /* 添加产品数量 */
}
.section .section_1_right .goodMessage span {
  display: inline-block;
}
.section .section_1_right .goodMessage li {
  padding: 5px 10px;
  position: relative;
}
.section .section_1_right .goodMessage i {
  display: inline-block;
  padding: 6px;
  border: 1px solid #DCDCDC;
  cursor: pointer;
}
.section .section_1_right .goodMessage i.huabei {
  height: 50px;
  line-height: 24px;
  font-style: normal;
}
.section .section_1_right .goodMessage i:hover, .section .section_1_right .goodMessage i.sizeOn {
  border: 2px solid #f40;
  padding: 5px;
}
.section .section_1_right .goodMessage .size_dash {
  border-bottom: 1px dotted #D9D9D9;
  height: 1px;
  width: 85%;
}
.section .section_1_right .goodMessage .size_dash span {
  position: absolute;
  right: -12%;
  top: 6px;
}
.section .section_1_right .goodMessage .range_num {
  width: 48px;
  height: 26px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  text-align: center;
  font-size: 16px;
  color: #000;
}
.section .section_1_right .goodMessage .tb-reduce, .section .section_1_right .goodMessage .tb-increase {
  display: inline-block;
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  border: 1px solid #ccc;
  background: #ededed;
}
.section .section_1_right .buy_btns {
  margin-top: 30px;
}
.section .section_1_right .buy_btns a {
  display: inline-block;
  padding: 8px 32px;
  border-radius: 3px;
  margin-right: 30px;
  font-size: 16px;
  height: 38px;
  line-height: 38px;
}
.section .section_1_right .buy_btns .buy_01 {
  color: #E5511D;
  border-color: #F0CAB6;
  background: #FFE4D0;
}
.section .section_1_right .buy_btns .buy_02 {
  color: #FFF;
  border-color: #F40;
  background: #F40;
}
.section .section_2 {
  width: 200px;
  margin-left: -200px;
  padding: 8px 30px;
  box-sizing: border-box;
  color: #9b9b9b;
  font-weight: 200;
  height: 592px;
  overflow: hidden;
  border-left: none;
}
.section .section_2 h2 {
  height: 22px;
  text-align: left;
}
.section .section_2 li {
  margin-bottom: 20px;
  position: relative;
}
.section .section_2 img {
  width: 140px;
}
.section .section_2 .more_goods {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  height: 24px;
  line-height: 24px;
  text-align: center;
  background: rgba(255, 255, 255, 0.6);
  color: #000;
}

/*# sourceMappingURL=details.css.map */
