@charset "UTF-8";
/* 封装清除浮动 */
/* 封装省略号 */
/* title_h3 封装 h3 及内部的通用样式，（h3 的颜色，头部的渐变色起始颜色，终止颜色） */
/* 封装公共类 */
.clearFix::after {
  display: block;
  clear: both;
  content: "";
}

.commonColor {
  color: #f50 !important;
}

/* 顶部导航：公共样式和类 */
/* 封装清除浮动 */
/* 封装省略号 */
/* title_h3 封装 h3 及内部的通用样式，（h3 的颜色，头部的渐变色起始颜色，终止颜色） */
/* 封装公共类 */
/* 公共类 */
.intoCenter {
  width: 1190px;
  margin: 0 auto;
}
.intoCenter::after {
  display: block;
  clear: both;
  content: "";
}

.intoLeft {
  float: left;
}

.intoRight {
  float: right;
}

/* 主体内容 */
.top {
  height: 35px;
  background: whitesmoke;
}
.top .orange {
  color: #f22e00;
}
.top .top_main {
  height: 100%;
  line-height: 100%;
}
.top .top_main::after {
  display: block;
  clear: both;
  content: "";
}
.top .top_left li, .top .top_right li {
  float: left;
  height: 35px;
  line-height: 35px;
  position: relative;
  padding: 0 10px;
}
.top .top_left li a, .top .top_right li a {
  display: inline-block;
  color: #3c3c3c;
}
.top .top_left li a::after, .top .top_right li a::after {
  display: block;
  clear: both;
  content: "";
}
.top .top_left li a.orange_less:hover, .top .top_right li a.orange_less:hover {
  color: #F40;
}
.top .top_left li a.country span, .top .top_right li a.country span {
  font-size: 12px;
  display: block;
  float: left;
}
.top .top_left .limit, .top .top_right .limit {
  height: 6px;
  margin-top: 15px;
  overflow: hidden;
}
.top .top_left .site-nav-icon, .top .top_right .site-nav-icon {
  color: #9c9c9c;
  margin-left: 5px;
  margin-top: -17px;
}
.top .top_left {
  float: left;
}
.top .top_left .moreCountry {
  display: none;
  background: #fff;
  position: absolute;
  margin-left: -14px;
  margin-top: -7px;
  border: 1px solid whitesmoke;
  border-top: none;
}
.top .top_left .moreCountry li {
  width: 240px;
}
.top .top_left li.country_father:hover {
  background: #fff;
}
.top .top_left li.country_father:hover .moreCountry {
  display: block;
}
.top .top_right {
  float: right;
}
.top .top_right .limit_right span {
  color: #f40;
  margin-right: 5px;
  margin-top: 0px;
}
.top .top_right .gray span {
  color: #9c9c9c;
}

.header {
  padding-top: 24px;
}
.header .header_main::after {
  display: block;
  clear: both;
  content: "";
}
.header .logo {
  float: left;
}
.header .logo a {
  display: inline-block;
  margin-left: 30px;
  width: 143px;
  height: 59px;
  background: url(../img/logo.png) no-repeat;
}
.header .search {
  margin-left: 105px;
  width: 630px;
  float: left;
}
.header .search .searchTab {
  height: 22px;
  margin-left: 20px;
}
.header .search .searchTab ul::after {
  display: block;
  clear: both;
  content: "";
}
.header .search .searchTab li {
  float: left;
  width: 36px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.header .search .searchTab li a {
  color: #FF5400;
}
.header .search .searchTab li.active {
  color: #fff;
  background: #FF5400;
}
.header .search .searchTab li.active a {
  color: #fff;
}
.header .search .searchBar {
  position: relative;
}
.header .search .searchBar .searchContent {
  position: relative;
  margin-right: 60px;
  border: 2px solid #ff5000;
  height: 36px;
  width: 555px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.header .search .searchBar .searchContent input {
  border: none;
  height: 36px;
  width: 80%;
  padding-left: 16px;
}
.header .search .searchBar .searchContent .jingZi {
  position: absolute;
  left: 15px;
  top: 12px;
  font-size: 15px;
}
.header .search .searchBar .searchContent .photo {
  position: absolute;
  right: 15px;
  top: 7px;
  font-size: 24px;
  color: #999;
}
.header .search .searchBar .search_submit {
  position: absolute;
  width: 74px;
  height: 40px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background: #FF4200;
  font-size: 20px;
  color: #fff;
  border: none;
  right: 0;
  top: 0;
}
.header .search .searchMore {
  margin-top: 10px;
}
.header .search .searchMore ul::after {
  display: block;
  clear: both;
  content: "";
}
.header .search .searchMore li {
  float: left;
  margin-right: 2px;
}
.header .search .searchMore li a {
  color: #3C3C3C;
}
.header .search .searchMore li a:hover {
  color: #ff5000;
}
.header .search .searchMore .orange_4 {
  color: #ff5000;
}
.header .qrCode {
  float: right;
  position: relative;
}
.header .qrCode .qr_bd {
  display: inline-block;
  border: 1px solid #eee;
  padding: 3px;
  margin-right: 130px;
  color: #ff5000;
  text-align: center;
}
.header .qrCode .qr_bd span {
  display: block;
  margin: 3px;
}
.header .qrCode .qr_bd img {
  width: 62px;
  height: 62px;
}
.header .qrCode .close_qrCode {
  position: absolute;
  left: -15px;
  top: 0;
  border: 1px solid #eee;
}

.fixed_header {
  position: fixed;
  padding: 7px 0;
  top: 0;
  display: none;
  width: 100%;
  background: #fff;
  z-index: 100;
}
.fixed_header .fixed_content::after {
  display: block;
  clear: both;
  content: "";
}
.fixed_header .log {
  float: left;
}
.fixed_header .log a {
  display: inline-block;
}
.fixed_header .searchBar {
  position: relative;
  float: left;
  margin-left: 170px;
}
.fixed_header .searchBar .searchContent {
  position: relative;
  margin-right: 60px;
  border: 2px solid #ff5000;
  height: 36px;
  width: 555px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.fixed_header .searchBar .searchContent .chooseKind {
  position: absolute;
  height: 100%;
}
.fixed_header .searchBar .searchContent .chooseKind li {
  height: 36px;
  width: 74px;
  line-height: 36px;
  text-align: left;
  background: #f4f4f4;
  display: none;
}
.fixed_header .searchBar .searchContent .chooseKind li a {
  display: inline-block;
  color: #3C3C3C;
  margin-left: 20px;
}
.fixed_header .searchBar .searchContent .chooseKind li a::after {
  display: block;
  clear: both;
  content: "";
}
.fixed_header .searchBar .searchContent .chooseKind li a span {
  font-size: 12px;
  display: block;
  float: left;
}
.fixed_header .searchBar .searchContent .chooseKind li a .limit {
  height: 6px;
  margin-top: 17px;
  overflow: hidden;
}
.fixed_header .searchBar .searchContent .chooseKind li a .site-nav-icon {
  color: #9c9c9c;
  margin-left: 5px;
  margin-top: -19px;
}
.fixed_header .searchBar .searchContent .chooseKind li.country_father {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  display: block;
}
.fixed_header .searchBar .searchContent .chooseKind ul:hover li {
  display: block;
}
.fixed_header .searchBar .searchContent .chooseKind ul:hover li.country_father {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 0;
  display: block;
}
.fixed_header .searchBar .searchContent input {
  border: none;
  height: 36px;
  width: 80%;
  padding-left: 16px;
}
.fixed_header .searchBar .searchContent .jingZi {
  position: absolute;
  left: 74px;
  top: 12px;
  font-size: 15px;
}
.fixed_header .searchBar .searchContent .photo {
  position: absolute;
  right: 15px;
  top: 7px;
  font-size: 24px;
  color: #999;
}
.fixed_header .searchBar .search_submit {
  position: absolute;
  width: 74px;
  height: 40px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background: #FF4200;
  font-size: 20px;
  color: #fff;
  border: none;
  right: 0;
  top: 0;
}

.nav {
  background-image: linear-gradient(to right, #ff9000 0, #ff5000 100%);
  height: 30px;
  line-height: 30px;
  margin-top: 5px;
  color: #fff;
}
.nav .nav_main::after {
  display: block;
  clear: both;
  content: "";
}
.nav .nav_main h2 {
  float: left;
  width: 190px;
  font-size: 16px;
  background: #ff5000;
  text-align: center;
  display: inline-block;
}
.nav .nav_main ul {
  float: left;
}
.nav .nav_main li {
  float: left;
  margin: 0 3px;
  text-align: center;
  padding: 0 4px;
  position: relative;
  font-size: 16px;
}
.nav .nav_main li a {
  display: inline-block;
  color: #fff;
  font-size: 16px;
}
.nav .nav_main li:not(.divide):hover:before {
  content: '\E606';
  font-family: iconfont;
  color: #ff5000;
  top: -19px;
  position: absolute;
  left: 50%;
  font-size: 12px;
  margin-left: -15px;
}

/* 右侧固定导航栏 */
.fixed_left {
  position: fixed;
  top: 440px;
  right: 10%;
  /*  .fixed_5{
       color: #F40;
   } */
}
.fixed_left .tb-ifont {
  width: 50px;
  height: 36px;
  font-size: 35px;
  text-align: center;
  line-height: 36px;
  color: #ff7f13;
  margin-bottom: -5px;
}
.fixed_left li {
  width: 50px;
  height: 50px;
  background: #fff;
}
.fixed_left li a {
  display: inline-block;
  font-size: 13px;
  padding: 12px;
  color: #3C3C3C;
}
.fixed_left li:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.fixed_left li:hover a {
  background: #f40;
  color: #fff;
}
.fixed_left .bk_color {
  background: #F40;
}
.fixed_left .bk_color a {
  color: #fff;
}
.fixed_left .fixed_1, .fixed_left .fixed_5 {
  color: #f40;
}
.fixed_left .fixed_2 {
  color: #f05;
}
.fixed_left .fixed_3 {
  color: #8d7afb;
}
.fixed_left .fixed_4 {
  color: #A8C001;
}

/* 主体内容 */
/* 7个 模块全部清除浮动 */
.section_1, .section_1_left_top, .section_2, .section_3, .section_4, .section_5, .section_6, .section_7 {
  color: #3C3C3C;
  background: #f4f4f4;
  padding-bottom: 10px;
}
.section_1::after, .section_1_left_top::after, .section_2::after, .section_3::after, .section_4::after, .section_5::after, .section_6::after, .section_7::after {
  display: block;
  clear: both;
  content: "";
}

/* 主体模块背景白色 */
.hotSolo, .hotSolo_bottom, .guessLike, .substantial, .home, .special, .broke, .advertise_3, .goodStore, .liveBroad {
  background: #fff;
}

/* 模块1 */
.section_1 {
  height: 100%;
}
.section_1 .section_1_left {
  float: left;
  width: 900px;
}
.section_1 .section_1_left .section_1_left_top {
  /* 左侧17个列表 */
  /* 右侧两个轮播图 */
}
.section_1 .section_1_left .section_1_left_top .left_details ul {
  border: 1px solid #ff5000;
  border-top: none;
}
.section_1 .section_1_left .section_1_left_top .left_details li {
  color: #666;
  width: 145px;
  height: 32px;
  line-height: 32px;
  font-size: 14px;
  background: #fff;
  text-align: center;
  padding: 0 22px 0 21px;
}
.section_1 .section_1_left .section_1_left_top .left_details li a {
  color: #666;
  font-size: 14px;
}
.section_1 .section_1_left .section_1_left_top .left_details li a .on {
  text-decoration: underline;
}
.section_1 .section_1_left .section_1_left_top .left_details li:hover {
  background: #ffe4dc;
  cursor: pointer;
}
.section_1 .section_1_left .section_1_left_top .left_details li:hover a {
  color: #f50;
}
.section_1 .section_1_left .section_1_left_top .left_content {
  margin: 10px;
  margin-bottom: 0;
  position: relative;
}
.section_1 .section_1_left .section_1_left_top .left_content .lunBo_1 {
  position: relative;
  display: inline-block;
  width: 520px;
  height: 280px;
  overflow: hidden;
}
.section_1 .section_1_left .section_1_left_top .left_content .lunBo_1 > ul {
  width: 520px;
  height: 280px;
  left: 0;
  top: 0;
  overflow: hidden;
  display: inline-block;
  position: absolute;
}
.section_1 .section_1_left .section_1_left_top .left_content .lunBo_1 > ul::after {
  display: block;
  clear: both;
  content: "";
}
.section_1 .section_1_left .section_1_left_top .left_content .lunBo_1 > ul > li {
  float: left;
}
.section_1 .section_1_left .section_1_left_top .left_content .lunBo_1 > ul > li a {
  display: inline-block;
}
.section_1 .section_1_left .section_1_left_top .left_content .lunBo_1 .direct_1 {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.section_1 .section_1_left .section_1_left_top .left_content .lunBo_1 .direct_1 ul {
  background: rgba(255, 255, 255, 0.3);
  padding: 0 3px;
  border-radius: 6px;
}
.section_1 .section_1_left .section_1_left_top .left_content .lunBo_1 .direct_1 li {
  cursor: pointer;
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 0 2px;
  border-radius: 50%;
  background: #fff;
}
.section_1 .section_1_left .section_1_left_top .left_content .lunBo_1 .direct_1 li.on {
  background: #f50;
}
.section_1 .section_1_left .section_1_left_top .left_content .lunBo_2 {
  position: relative;
  margin-top: 20px;
}
.section_1 .section_1_left .section_1_left_top .left_content .lunBo_2 .tmall {
  height: 22px;
  line-height: 22px;
  width: 520px;
  background: url(../img/tMall.png) no-repeat;
  position: relative;
}
.section_1 .section_1_left .section_1_left_top .left_content .lunBo_2 .tmall span {
  margin-left: 140px;
  color: #666;
}
.section_1 .section_1_left .section_1_left_top .left_content .lunBo_2 .tmall strong {
  position: absolute;
  right: 0;
  top: 0;
}
.section_1 .section_1_left .section_1_left_top .left_content .lunBo_2 .tmall i {
  color: #ff1648;
  font-style: normal;
}
.section_1 .section_1_left .section_1_left_top .left_content .lunBo_2 .tmall .direct_3 {
  position: absolute;
  bottom: 0;
  left: 0;
}
.section_1 .section_1_left .section_1_left_top .left_content .lunBo_2 .tmall .direct_3 ul {
  display: flex;
  justify-content: space-between;
}
.section_1 .section_1_left .section_1_left_top .left_content .lunBo_2 .tmall .direct_3 li {
  display: inline-block;
  height: 3px;
  width: 86px;
  background: #ff1648;
}
.section_1 .section_1_left .section_1_left_top .left_content .lunBo_2 .tmall .direct_3 li:nth-child(1) {
  width: 87px;
}
.section_1 .section_1_left .section_1_left_top .left_content .lunBo_2 .tmall .direct_3 li:nth-child(2) {
  width: 87px;
}
.section_1 .section_1_left .section_1_left_top .left_content .lunBo_2 .tmall .direct_3 li:nth-child(3) {
  width: 87px;
}
.section_1 .section_1_left .section_1_left_top .left_content .lunBo_2 .tmall .direct_3 li:nth-child(4) {
  width: 87px;
}
.section_1 .section_1_left .section_1_left_top .left_content .lunBo_2 .tmall .direct_3 li.on {
  background: #000;
}
.section_1 .section_1_left .section_1_left_top .left_content .lunBo_2 .tmall_content {
  width: 520px;
  height: 204px;
  overflow: hidden;
  display: inline-block;
  position: relative;
  overflow: hidden;
}
.section_1 .section_1_left .section_1_left_top .left_content .lunBo_2 .tmall_content ul {
  position: absolute;
  left: 0;
  top: 0;
}
.section_1 .section_1_left .section_1_left_top .left_content .lunBo_2 .tmall_content ul::after {
  display: block;
  clear: both;
  content: "";
}
.section_1 .section_1_left .section_1_left_top .left_content .lunBo_2 .tmall_content a {
  float: left;
}
.section_1 .section_1_left .section_1_left_top .left_content .lunBo_2 .tmall_content li {
  float: left;
  width: 520px;
  background: #fff;
}
.section_1 .section_1_left .section_1_left_top .left_content .lunBo_2 .tmall_content .logoSet_1 a {
  padding: 5px 0;
  height: 57px;
  width: 129px;
  text-align: center;
  border-right: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  background: #fff;
}
.section_1 .section_1_left .section_1_left_top .left_content .lunBo_2 .tmall_content .logoSet_1 img {
  width: 84px;
  margin-top: 10px;
}
.section_1 .section_1_left .section_1_left_top .left_content .lunBo_2 .tmall_content .logoSet_2 {
  padding: 20px 4px;
  display: flex;
  justify-content: space-around;
}
.section_1 .section_1_left .section_1_left_top .left_content .lunBo_2 .tmall_content .logoSet_2::after {
  display: block;
  clear: both;
  content: "";
}
.section_1 .section_1_left .section_1_left_top .left_content .lunBo_2 .tmall_content .logoSet_2 a {
  margin: 4px 3px;
}
.section_1 .section_1_left .section_1_left_top .left_content .lunBo_2 .tmall_content .logoSet_2 img {
  height: 155px;
}
.section_1 .section_1_left .section_1_left_top .left_content .lunBo_ad {
  display: inline-block;
  color: #a1a1a1;
  position: relative;
}
.section_1 .section_1_left .section_1_left_top .left_content .lunBo_ad span {
  display: inline-block;
  color: #a1a1a1;
  position: absolute;
  top: -24px;
}
.section_1 .section_1_left .section_1_left_top .left_content .lunBo_ad img {
  height: 100%;
}
.section_1 .section_1_left .section_1_left_top .left_content .direct_2 {
  display: none;
  width: 100%;
  position: absolute;
  top: 50%;
  height: 30px;
  transform: translateY(-50%);
  text-align: center;
}
.section_1 .section_1_left .section_1_left_top .left_content .direct_2 a {
  position: absolute;
  display: inline-block;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  font-size: 14px;
}
.section_1 .section_1_left .section_1_left_top .left_content .direct_2 a i {
  width: 20px;
  height: 30px;
  line-height: 30px;
  display: inline-block;
}
.section_1 .section_1_left .section_1_left_top .left_content .direct_2 a.direct_2_left {
  left: 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  text-align: left;
}
.section_1 .section_1_left .section_1_left_top .left_content .direct_2 a.direct_2_right {
  right: 0;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  text-align: right;
}
.section_1 .section_1_left .section_1_left_top .left_content .direct_2 a:hover {
  background: rgba(0, 0, 0, 0.6);
}
.section_1 .section_1_left .section_1_left_bottom {
  background: #fff;
  position: relative;
  padding: 14px 20px;
  margin-right: 10px;
}
.section_1 .section_1_left .section_1_left_bottom::after {
  display: block;
  clear: both;
  content: "";
}
.section_1 .section_1_left .section_1_left_bottom h3 {
  width: 180px;
  height: 73px;
  float: left;
  background: url(../img/t_toutiao.png) 0 14px no-repeat;
}
.section_1 .section_1_left .section_1_left_bottom h3 p {
  margin-top: 50px;
  color: #999;
}
.section_1 .section_1_left .section_1_left_bottom .intrest {
  display: inline-block;
}
.section_1 .section_1_left .section_1_left_bottom .intrest a {
  display: inline-block;
}
.section_1 .section_1_left .section_1_left_bottom .intrest a::after {
  display: block;
  clear: both;
  content: "";
}
.section_1 .section_1_left .section_1_left_bottom .intrest a img {
  float: left;
  margin-right: 10px;
}
.section_1 .section_1_left .section_1_left_bottom .intrest a h4 {
  color: #333;
  font-size: 16px;
  height: 28px;
  line-height: 28px;
}
.section_1 .section_1_left .section_1_left_bottom .intrest a p {
  color: #999;
}
.section_1 .section_1_right {
  width: 290px;
  margin-top: 10px;
}
.section_1 .section_1_right .user {
  padding: 3px 0 10px;
  height: 132px;
  background: url(../img/user_bk.png) no-repeat;
  background-size: 290px 145px;
}
.section_1 .section_1_right .user_avatar {
  text-align: center;
  color: #000;
}
.section_1 .section_1_right .user_avatar img {
  border-radius: 50%;
}
.section_1 .section_1_right .user_avatar p a {
  display: inline-block;
  border-radius: 8px;
  padding: 3px 8px 3px 21px;
  margin-top: 10px;
  color: #ff5000;
  background: url(../img/user_sprite.png) no-repeat #ffe4db;
}
.section_1 .section_1_right .user_avatar a.coin {
  background-position: 0 -572.5px;
}
.section_1 .section_1_right .user_avatar a.vip_club {
  background-position: 0 -528px;
}
.section_1 .section_1_right .user_operate {
  text-align: center;
  margin-top: 15px;
}
.section_1 .section_1_right .user_operate a {
  display: inline-block;
  width: 80px;
  line-height: 25px;
  color: #fff;
  border-radius: 5px;
  font-size: 14px;
  background-image: linear-gradient(to right, #ff5000 0, #ff6f06 100%);
}
.section_1 .section_1_right .danger_message a {
  color: #f40;
  height: 26px;
  line-height: 26px;
  background: #ffe4dd;
  display: block;
  text-align: center;
  position: relative;
}
.section_1 .section_1_right .danger_message span {
  width: 0;
  height: 0;
  font-size: 0;
  border-style: solid;
  border-width: 5px 0 5px 8px;
  border-color: transparent transparent transparent #f40;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 50px;
}
.section_1 .section_1_right .notice {
  background: #fff;
  padding-top: 15px;
  border-bottom: 1px solid #f4f4f4;
}
.section_1 .section_1_right .notice a {
  color: #000;
}
.section_1 .section_1_right .notice_head ol {
  display: flex;
}
.section_1 .section_1_right .notice_head ol::after {
  display: block;
  clear: both;
  content: "";
}
.section_1 .section_1_right .notice_head ol li {
  flex: 1;
  float: left;
  text-align: center;
  height: 24px;
  line-height: 24px;
}
.section_1 .section_1_right .notice_head ol a.selected {
  border-bottom: 2px solid #F40;
  font-weight: 600;
}
.section_1 .section_1_right .notice_content ul {
  padding: 10px 12px;
  height: 50px;
  overflow: hidden;
  display: none;
}
.section_1 .section_1_right .notice_content ul a {
  display: inline-block;
  height: 25px;
}
.section_1 .section_1_right .notice_content ul.show {
  display: block;
}
.section_1 .section_1_right .info ul {
  display: flex;
  flex-wrap: wrap;
}
.section_1 .section_1_right .info ul::after {
  display: block;
  clear: both;
  content: "";
}
.section_1 .section_1_right .info li {
  float: left;
  height: 79px;
  width: 25%;
  box-sizing: border-box;
  background: #fff;
  border: 1px solid #f4f4f4;
  border-left-color: transparent;
  border-top-color: transparent;
  text-align: center;
}
.section_1 .section_1_right .info li a {
  display: inline-block;
}
.section_1 .section_1_right .info li a span {
  display: block;
  width: 24px;
  height: 24px;
  margin: 10px;
  background: url(../img/user_sprite.png) no-repeat;
}
.section_1 .section_1_right .info li:nth-child(1) span {
  background-position-y: 0px;
}
.section_1 .section_1_right .info li:nth-child(2) span {
  background-position-y: -44px;
}
.section_1 .section_1_right .info li:nth-child(3) span {
  background-position-y: -88px;
}
.section_1 .section_1_right .info li:nth-child(4) span {
  background-position-y: -132px;
}
.section_1 .section_1_right .info li:nth-child(5) span {
  background-position-y: -176px;
}
.section_1 .section_1_right .info li:nth-child(6) span {
  background-position-y: -220px;
}
.section_1 .section_1_right .info li:nth-child(7) span {
  background-position-y: -264px;
}
.section_1 .section_1_right .info li:nth-child(8) span {
  background-position-y: -308px;
}
.section_1 .section_1_right .info li:nth-child(9) span {
  background-position-y: -352px;
}
.section_1 .section_1_right .info li:nth-child(10) span {
  background-position-y: -396px;
}
.section_1 .section_1_right .info li:nth-child(11) span {
  background-position-y: -440px;
}
.section_1 .section_1_right .info li:nth-child(12) span {
  background-position-y: -484px;
}
.section_1 .section_1_right .app_logo {
  background: #fff;
}
.section_1 .section_1_right .app_logo h3 {
  font-size: 14px;
  font-weight: 800;
  height: 30px;
  line-height: 30px;
  padding-left: 15px;
  text-align: left;
  position: relative;
  margin-bottom: 12px;
}
.section_1 .section_1_right .app_logo h3 a {
  position: absolute;
  color: #000;
  right: 10px;
  width: auto;
  font-weight: normal;
}
.section_1 .section_1_right .app_logo ul::after {
  display: block;
  clear: both;
  content: "";
}
.section_1 .section_1_right .app_logo li {
  float: left;
  padding: 5px 13px;
}
.section_1 .section_1_right .app_logo a {
  display: inline-block;
  height: 32px;
  width: 32px;
  background-size: 32px 32px;
}
.section_1 .section_1_right .app_logo li:nth-child(1) a {
  background-image: url("../img/app_01.webp");
}
.section_1 .section_1_right .app_logo li:nth-child(2) a {
  background-image: url("../img/app_02.webp");
}
.section_1 .section_1_right .app_logo li:nth-child(3) a {
  background-image: url("../img/app_03.webp");
}
.section_1 .section_1_right .app_logo li:nth-child(4) a {
  background-image: url("../img/app_04.webp");
}
.section_1 .section_1_right .app_logo li:nth-child(5) a {
  background-image: url("../img/app_05.webp");
}
.section_1 .section_1_right .app_logo li:nth-child(6) a {
  background-image: url("../img/app_06.webp");
}
.section_1 .section_1_right .app_logo li:nth-child(7) a {
  background-image: url("../img/app_07.webp");
}
.section_1 .section_1_right .app_logo li:nth-child(8) a {
  background-image: url("../img/app_08.webp");
}
.section_1 .section_1_right .app_logo li:nth-child(9) a {
  background-image: url("../img/app_09.webp");
}
.section_1 .section_1_right .app_logo li:nth-child(10) a {
  background-image: url("../img/app_10.webp");
}

/* 模块2 */
.section_2 {
  /* 抢购模块 */
}
.section_2 .goods, .section_2 .street, .section_2 .panic_good, .section_2 .special_price {
  width: 590px;
  background: #fff;
  float: left;
  padding-bottom: 24px;
  margin-bottom: 10px;
}
.section_2 .goods, .section_2 .panic_good {
  margin-right: 10px;
}
.section_2 h3 {
  padding: 20px 0 20px 15px;
  position: relative;
  font-weight: normal;
}
.section_2 h3::after {
  display: block;
  clear: both;
  content: "";
}
.section_2 h3 img {
  width: 74px;
  height: 24px;
  float: left;
  margin-right: 10px;
}
.section_2 h3 p {
  display: inline-block;
  height: 24px;
  line-height: 24px;
  float: left;
  color: #999;
}
.section_2 h3 .change_goods {
  position: absolute;
  right: 10px;
  line-height: 24px;
}
.section_2 h3 .change_goods a {
  color: #999;
}
.section_2 .goods_details {
  /* 价格显示模块 */
}
.section_2 .goods_details a {
  display: inline-block;
  text-align: center;
  margin-left: 10px;
}
.section_2 .goods_details a > img {
  width: 180px;
  height: 180px;
}
.section_2 .goods_details h4 {
  font-size: 16px;
  margin: 5px 0;
  font-weight: normal;
  width: 160px;
}
.section_2 .goods_details .content_left {
  font-size: 14px;
  text-align: left;
}
.section_2 .goods_details h4:hover {
  color: #f40;
}
.section_2 .goods_details p {
  padding: 10px;
  color: #999;
}
.section_2 .goods_details .more_details {
  width: 160px;
  height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.section_2 .goods_details .price {
  position: relative;
  text-align: left;
  line-height: 20px;
}
.section_2 .goods_details .price span {
  color: #f50;
}
.section_2 .goods_details .price .panic_number {
  color: #999;
}
.section_2 .goods_details .price strong {
  font-size: 20px;
}
.section_2 .goods_details .price_pass {
  text-decoration: line-through;
}
.section_2 .level {
  color: #35b1ff;
  padding-top: 0;
  text-align: left;
}
.section_2 .street a {
  color: #999;
}
.section_2 .street h4 {
  margin: 20px 0;
}
.section_2 .street .author {
  height: 30px;
  line-height: 22px;
  padding: 10px;
  padding-top: 0;
  text-align: left;
}
.section_2 .street .author img {
  width: 22px;
  height: 22px;
  float: left;
  margin-right: 10px;
  border-radius: 50%;
}
.section_2 .hour, .section_2 .minutes, .section_2 .seconds {
  background: #ffe4db;
  color: #f40;
  padding: 5px;
}
.section_2 .panic_buy {
  float: right;
  display: inline-block;
  color: #ff5000;
  border: 1px solid #ff5000;
  border-radius: 5px;
  padding: 3px;
}
.section_2 .panic_process {
  background: #FFE4Dc;
  width: 170px;
  height: 6px;
  border-radius: 3px;
  margin: 10px 0;
}
.section_2 .panic_process .panic_true {
  background: #f50;
  height: 100%;
  border-radius: 3px;
}
.section_2 .panic_info {
  text-align: left;
  margin: 10px 0;
  position: relative;
  color: #FE3338;
}
.section_2 .fill_content {
  margin: 10px 0;
}

/* 模块3 */
.section_3 .goodStore, .section_3 .liveBroad {
  width: 590px;
  float: left;
  padding-bottom: 24px;
  margin-bottom: 10px;
}
.section_3 .goodStore {
  margin-right: 10px;
}
.section_3 h3 {
  padding: 20px 0 0 15px;
  position: relative;
  font-weight: normal;
}
.section_3 h3::after {
  display: block;
  clear: both;
  content: "";
}
.section_3 h3 img {
  width: 74px;
  height: 24px;
  float: left;
  margin-right: 10px;
}
.section_3 h3 p {
  display: inline-block;
  height: 24px;
  line-height: 24px;
  float: left;
  color: #999;
}
.section_3 h3 .change_goods {
  position: absolute;
  right: 10px;
  line-height: 24px;
}
.section_3 h3 .change_goods a {
  color: #999;
}
.section_3 h4 {
  margin: 10px;
  font-weight: normal;
}
.section_3 .store_part {
  display: inline-block;
  margin: 5px 12px;
}
.section_3 .store_part img {
  opacity: 0.8;
  display: block;
}
.section_3 .store_part img:hover {
  opacity: 0.7;
}
.section_3 .title {
  font-size: 16px;
}
.section_3 .subTitle {
  color: #999;
}
.section_3 .storebk {
  background: #4f4f4f;
  position: relative;
}
.section_3 .innerTitle {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 30px;
  line-height: 25px;
  width: 100%;
  color: #fff;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  padding-left: 40px;
}
.section_3 .innerTitle .tb-ifont {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 28px;
  color: #ff2658;
}
.section_3 .storebk_small {
  background: #4f4f4f;
  margin-bottom: 2px;
  margin-left: 2px;
}
.section_3 .storebk_small img {
  width: 89px;
  height: 89px;
}

/* 模块4 */
.section_4 {
  /* 通用标题样式 */
  /* title_h3 封装 h3 及内部的通用样式，（h3 的颜色，头部的渐变色起始颜色，终止颜色） */
  /* 时尚爆料王 */
  /* 广告3 */
  /* 品质生活家 */
  /* 实惠专业户 */
}
.section_4 .head_1 {
  color: #AD45Df;
  padding: 0 20px;
  font-size: 20px;
  font-weight: normal;
  line-height: 50px;
  border-bottom: 1px solid #f4f4f4;
}
.section_4 .head_1 span {
  display: inline-block;
  background-image: linear-gradient(45deg, #8558d6, #b865e2);
  width: 4px;
  height: 16px;
}
.section_4 .head_2 {
  color: #28ABFF;
  padding: 0 20px;
  font-size: 20px;
  font-weight: normal;
  line-height: 50px;
  border-bottom: 1px solid #f4f4f4;
}
.section_4 .head_2 span {
  display: inline-block;
  background-image: linear-gradient(45deg, #0087ff, #3bc7ff);
  width: 4px;
  height: 16px;
}
.section_4 .head_3 {
  color: #ff5000;
  padding: 0 20px;
  font-size: 20px;
  font-weight: normal;
  line-height: 50px;
  border-bottom: 1px solid #f4f4f4;
}
.section_4 .head_3 span {
  display: inline-block;
  background-image: linear-gradient(45deg, #ffd636, #ff5000);
  width: 4px;
  height: 16px;
}
.section_4 .head_4 {
  color: #31ba98;
  padding: 0 20px;
  font-size: 20px;
  font-weight: normal;
  line-height: 50px;
  border-bottom: 1px solid #f4f4f4;
}
.section_4 .head_4 span {
  display: inline-block;
  background-image: linear-gradient(45deg, #b4ec51, #31ba98);
  width: 4px;
  height: 16px;
}
.section_4 .broke, .section_4 .advertise_3, .section_4 .home {
  margin-bottom: 10px;
}
.section_4 .broke {
  width: 840px;
  height: 290px;
  margin-right: 10px;
}
.section_4 .broke h4 {
  font-style: normal;
}
.section_4 .broke h4 p {
  color: #999;
}
.section_4 .broke h4 > a {
  display: inline-block;
  margin: 20px 0;
  font-size: 18px;
  font-weight: 500;
  color: #3C3C3C;
}
.section_4 .broke img {
  font-size: 0;
}
.section_4 .broke_bar {
  padding: 0 19px 0 20px;
  border-right: 1px solid #f4f4f4;
  height: 240px;
}
.section_4 .broke_bar a {
  font-size: 0;
}
.section_4 .broke_bar:hover {
  padding: 0 18px 0 19px;
  border: 1px solid #f50;
}
.section_4 .advertise_3 {
  padding: 20px;
}
.section_4 .home, .section_4 .special {
  width: 590px;
}
.section_4 .home_left, .section_4 .home_right {
  display: inline-block;
}
.section_4 .home_left {
  width: 294px;
}
.section_4 .home_left a {
  display: block;
  border-bottom: 1px solid #f4f4f4;
  border-right: 1px solid #f4f4f4;
  padding: 20px;
}
.section_4 .home_left a::after {
  display: block;
  clear: both;
  content: "";
}
.section_4 .home_left .home_tag h4, .section_4 .home_left .home_tag p {
  padding: 0 0  30px 30px;
}
.section_4 .home_left .home_tag h4 {
  font-size: 16px;
}
.section_4 .home_left .home_tag p {
  color: #999;
}
.section_4 .home_right {
  width: 296px;
}
.section_4 .home_right_bar {
  border-bottom: 1px solid #f4f4f4;
  padding: 30px 20px;
}
.section_4 .home_right_bar h4 a {
  font-size: 16px;
  color: #999;
  font-weight: 400;
  line-height: 20px;
  display: inline-block;
  margin: 10px 0 49px 20px;
}
.section_4 .home_right_bar h4 span {
  color: #999;
}
.section_4 .substantial_bar {
  border-right: 1px solid #f4f4f4;
  padding: 20px 18px 20px 19px;
}
.section_4 .substantial_bar h4 a {
  font-size: 16px;
  color: #3C3C3C;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  font-weight: 400;
}
.section_4 .substantial_content a {
  display: inline-block;
}
.section_4 .substantial_content img {
  width: 120px;
  height: 120px;
}
.section_4 .substantial_info {
  margin-left: 10px;
}
.section_4 .substantial_info p {
  font-size: 16px;
  line-height: 24px;
}
.section_4 .substantial_info p.small_font {
  font-size: 14px;
  color: #999;
}
.section_4 .substantial_info a {
  display: inline-block;
  border: 1px solid #f50;
  padding: 5px 10px;
  border-radius: 20px;
  color: #f50;
  margin-top: 15px;
}

/* 模块5 */
.section_5 .head_5 {
  color: #ff242d;
  padding: 0 20px;
  font-size: 20px;
  font-weight: normal;
  line-height: 50px;
  border-bottom: 1px solid #f4f4f4;
}
.section_5 .head_5 span {
  display: inline-block;
  background-image: linear-gradient(45deg, #ff7436, #ff0000);
  width: 4px;
  height: 16px;
}
.section_5 .hotSolo_title {
  position: relative;
}
.section_5 .hotSolo_title a {
  display: inline-block;
  height: 20px;
  line-height: 20px;
  padding: 0 5px;
  color: #999;
}
.section_5 .hotSolo_title img {
  width: 32px;
  height: 15px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5px;
}
.section_5 .hotSolo_item {
  display: inline-block;
  border-right: 1px solid #f4f4f4;
  border-bottom: 1px solid #f4f4f4;
  padding: 20px;
  width: 197px;
}
.section_5 .hotSolo_item img {
  width: 197px;
  height: 197px;
}
.section_5 .hotSolo_item p {
  color: #666;
}
.section_5 .hotSolo_item .Solo_descrip {
  margin: 10px 0;
  height: 40px;
  line-height: 20px;
}
.section_5 .hotSolo_item .Solo_info {
  color: #999;
  margin-bottom: 16px;
}
.section_5 .hotSolo_item .Solo_price {
  color: #999;
  line-height: 22px;
}
.section_5 .hotSolo_item .Solo_price .Solo_now {
  color: #f50;
  font-size: 22px;
}
.section_5 .hotSolo_item .Solo_price .Solo_pass {
  text-decoration: line-through;
}
.section_5 .hotSolo_item:hover {
  border: 1px solid #f50;
  margin-top: -1px;
  margin-left: -1px;
}
.section_5 .hotSolo_bottom {
  padding: 20px 9px 20px 8px;
}
.section_5 .hotSolo_bottom li {
  float: left;
  margin: 0 8px;
}
.section_5 .hotSolo_bottom li:hover {
  border: 2px solid #f50;
  margin: -2px 6px;
}

/* 模块6 */
.section_6 {
  /* 猜你喜欢 */
  /* 最后的结束线 end */
  /* 结尾帮助部分 */
}
.section_6 .head_6 {
  color: #ff9f00;
  padding: 0 20px;
  font-size: 20px;
  font-weight: normal;
  line-height: 50px;
  border-bottom: 1px solid #f4f4f4;
}
.section_6 .head_6 span {
  display: inline-block;
  background-image: linear-gradient(45deg, #fad961, #ff9f00);
  width: 4px;
  height: 16px;
}
.section_6 .guessLike_content {
  /* 鼠标滑过时，浮现 "找相似" */
}
.section_6 .guessLike_content .guessLike_item {
  border-right: 1px solid #f4f4f4;
  border-bottom: 1px solid #f4f4f4;
  float: left;
  padding: 20px;
  width: 197px;
  position: relative;
}
.section_6 .guessLike_content a {
  display: inline-block;
}
.section_6 .guessLike_content .guess_descrip {
  color: #666;
  line-height: 22px;
  margin-top: 6px;
  height: 44px;
}
.section_6 .guessLike_content .guess_price {
  color: #f50;
  line-height: 20px;
}
.section_6 .guessLike_content .guess_price_now {
  font-size: 20px;
}
.section_6 .guessLike_content .guess_num {
  float: right;
  color: #9ca0aa;
}
.section_6 .guessLike_content .guessLike_item:hover {
  border: 1px solid #f50;
  margin: -1px 0 0 -1px;
}
.section_6 .guessLike_content .guessLike_item:hover .findSimilar {
  display: block;
}
.section_6 .guessLike_content .findSimilar {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 237px;
  height: 82px;
  background: #f50;
  color: #fff;
  text-align: center;
  display: none;
}
.section_6 .guessLike_content .similar {
  width: 120px;
  height: 32px;
  border-bottom: 1px solid #FE964A;
  font-size: 18px;
  margin: 15px auto 5px;
  line-height: 32px;
}
.section_6 .end {
  height: 50px;
  line-height: 50px;
  text-align: center;
  position: relative;
}
.section_6 .end span {
  font-size: 18px;
  color: #ccccd0;
}
.section_6 .end span::before, .section_6 .end span::after {
  content: ' ';
  position: absolute;
  height: 0;
  line-height: 0;
  border-top: 1px solid #e6e6e6;
  width: 60px;
  top: 50%;
}
.section_6 .end span::before {
  left: 55%;
}
.section_6 .end span::after {
  right: 55%;
}
.section_6 .helper {
  margin-top: 20px;
}
.section_6 .helper h4 {
  font-size: 16px;
}
.section_6 .helper i {
  font-size: 32px;
  color: #999;
  margin-right: 5px;
}
.section_6 .helper_item {
  float: left;
  width: 25%;
  display: inline-block;
  padding: 0 25px;
  height: 140px;
  box-sizing: border-box;
}
.section_6 .helper_item h4 {
  margin: 5px 0;
}
.section_6 .helper_content a {
  display: inline-block;
  line-height: 20px;
  margin-right: 10px;
  color: #999;
}

.footer .foot_line {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 7px 0 8px;
  line-height: 30px;
}
.footer .foot_line_2 {
  line-height: 30px;
}
.footer span {
  color: #ddd;
}
.footer a {
  margin: 0 3px;
  color: #999;
}
.footer em {
  color: #9c9c9c;
  font-style: normal;
}
.footer .foot_bk {
  display: inline-block;
  background: url(../img/foot_sprit.jpg) no-repeat;
}

/*# sourceMappingURL=index.css.map */
